.container {
  display: grid;
  width: 100%;
  height: 100%;
  grid-template-columns: repeat(3, 20%);
  grid-auto-rows: 280px;
  row-gap: 33px;
  column-gap: 33px;
  justify-content: center;
  margin-top: 33px;
}

.item {
  width: 100%;
  height: 100%;
  position: relative;
}

.container img {
  border-radius: 5px;
  place-self: center;
  box-shadow: 2px 2px #bbbbbb;
  width: 100%;
  height: 100%;
}

.hover-image-visible {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-end;
  background-color: rgba(0, 0, 0, 0.45);
  border-radius: 5px;
  height: 100%;
  width: 100%;
  position: absolute;
  opacity: 1;
  top: 0;
  opacity: 1;
}

.hover-image-invisible {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-end;
  background-color: rgba(0, 0, 0, 0.45);
  border-radius: 5px;
  height: 100%;
  width: 100%;
  position: absolute;
  opacity: 1;
  top: 0;
  opacity: 0;
  transition: opacity 0.3s linear;
}

.button {
  width: 30%;
  height: 16%;
  text-transform: capitalize;
  color: rgba(255, 255, 255, 0.8);
  background-color: transparent;
  border: solid 1px rgba(255, 255, 255, 0.5);
  border-radius: 30px;
  padding: 0;
  margin-top: 0.8rem;
  margin-bottom: 1.5rem;
  font-weight: 400;
  font-size: medium;
  letter-spacing: -1px;
  font-family: "Roboto", sans-serif;
  outline: none;
  cursor: pointer;
}

.green {
  color: rgba(0, 255, 0, 0.8);
  border: solid 1px rgba(0, 255, 0, 0.5);
}

.button:hover {
  border: solid 1px rgba(255, 255, 255, 1);
  color: rgba(255, 255, 255, 1);
}
.green:hover {
  border: solid 1px rgba(0, 255, 0, 1);
  color: rgba(0, 255, 0, 1);
}
.title {
  color: rgba(255, 255, 255, 1);
  font-weight: 700;
  text-transform: capitalize;
  text-align: center;
  font-size: x-large;
  margin-bottom: 0;
}
.owner {
  color: rgba(255, 255, 255, 0.75);
  margin-top: 0.3rem;
  text-transform: capitalize;
  font-style: italic;
  text-align: center;
  font-size: medium;
}
.title ::before,
.title::after {
  display: block;
  content: "";
  border-top: 2px solid white;
  width: 4rem;
  margin: 0 auto;
  margin-top: 0.5rem;
  margin-bottom: 0.1rem;
}

@media (min-width: 320px) {
  .container {
    grid-template-columns: repeat(1, 70%);
  }
}

@media (min-width: 641px) {
  .container {
    grid-template-columns: repeat(2, 45%);
  }
}
@media (min-width: 961px) {
  .container {
    grid-template-columns: repeat(3, 20%);
  }
}
